* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  overflow: hidden;
}

.scroller {
  width: calc(100vw - 2rem);
  height: 100vh;
  margin-left: 2rem;
  overflow: auto;
}

::selection {
  background: #5eead4;
}
